#site{
    /* Definimos a largura da página */
    width:1000px;
    /* Definirmos a altura da página*/
    height:700px;
    /* Aqui definiremos a posição que a página ocupará na tela, nesse caso estamos definindo que fique centralizado na tela*/
    /*top : posição de cima */
    margin-top:0;
    /* left: posição de esquerda*/
    margin-left:auto;
    /* bottom : posição de baixo */
    margin-bottom:0;
    /* right : posição de direita */
    margin-right:auto;
    /* Aqui definiremos a cor de fundo da página */
    background-color:#fff;
  }
  #header{
    /*Novamente definimos a largura da div*/
    width:1000px;
    /* altura da div */
    height:100px;
    /* Cor de fundo da div */
    background-color:#fff;
  }
  #conteudo{
    /*Novamente definimos a largura da div*/
    width:1000px;
    /* altura da div */
    height:500px;
    /* Cor de fundo da div */
    background-color:#fff;
  }
  #footer{
    /*Novamente definimos a largura da div*/
    width:1000px;
    /* altura da div */
    height:100px;
    /* Cor de fundo da div */
    background-color:#fff;
  }
  #conteudo-left{
    /*Novamente definimos a largura da div*/
    width:500px;
    /* altura da div */
    height:300px;
    /* O atributo Float é utilizado para fazermos o nosso bloco(div)
    literalmente flutue e se posicione onde queremos na página,
    quando escolhemos left, dizemos que esse bloco irá se posicionar na
    parte esquerda da página */
    float:left;
    /* Cor de fundo da div */
    background-color:#fff;
  }
  #conteudo-right{
    /*Novamente definimos a largura da div*/
    width:500px;
    /* altura da div */
    height:400px;
    /* Pode parecer meio estranho usarmos o mesmo atributo left para o bloco
    em que queremos posicionar na direita, mas como sabemos, o CSS é um estilo
    em cascata, nossa div conteúdo definimos a largura de 1000px e na
    conteudo-left 500px, automaticamente ao definirmos o conteudo-right
    com 500px e à esquerda também, ele ficou à direita do conteudo-left,
    pois o máximo que a div filha poderá ter é 1000px, sendo 500+500=1000px */
    float:left;
    /* Cor de fundo da div */
    background-color:#fff;
  }